#title
  height: 6vh
#animation
  height: 44vh
  img
    height: 40vh
#content
  p
  border: 2px solid #333
  font-size: 16px
  padding: 10px
  min-height: 30vh
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  span
    background-color: lightyellow
#share
  padding: 10px
  height: 15vh
