<div class="row">
  <div class="col-xs flex-xs-middle flex-items-xs-center">
    <h3 class="text-xs-center">輸入文章</h3>

    <div class="form-group">
      <textarea [(ngModel)]="article" class="form-control">
              食的社企，動開在表話什、些的聽的一？沒裡極在有好國證。平學眼拉此石命，相為入師他氣；會失三來少了每是共做服？都太告的，氣的團實險事過大天先黑心，關物氣有影果深著著助讀認大於部一內一同和常意小學。能國戲！為童那了。他完選，正汽的學我來見；持辦神理遠座種才筆或毒才馬今聞給形感形間！最此保成世舞……準點國最比我把處各行學養的，子間做家人研上邊較數到氣花友子同草？
      </textarea>
    </div>

    <div class="text-xs-center">
      <button (click)="next()" class="btn btn-outline-primary btn-lg">送出</button>
    </div>
  </div>
</div>
