<div class="row" id="title">
    <div class="col-xs flex-xs-middle flex-items-xs-center">
      <h3 class="text-xs-center">選擇動畫</h3>
    </div>
</div>

<div class="row" id="content">
  <div class="col-xs flex-xs-middle">
    <p>
      <span *ngFor="let item of processedResult" [class]="item.tag" [ngClass]="{selectedWord: item == currentSection, done: item.selectedImgIndex != undefined}" (click)="clickChange(item)">{{item.sentence}}</span>
    </p>
  </div>
</div>

<div class="row" id="image-options">
  <div class="col-xs" *ngFor="let img of currentSection.images;let i = index">
    <img [ngClass]="{selected: currentSection.selectedImgIndex == i }" (click) = "currentSection.selectedImgIndex = i" [src]="img" class="img-fluid">
  </div>

</div>

<div class="row" id="controller">
  <div class="col-xs text-xs-center">
    <button (click)="previous()" class="btn btn-outline-primary btn-lg">上一組</button>
    <button *ngIf="!isComplete" (click)="next()" class="btn btn-outline-primary btn-lg">下一組</button>
    <button *ngIf="isComplete" (click)="submit()" class="btn btn-outline-primary btn-lg">完成</button>
  </div>
</div>
