<div class="row" id="title">
    <div class="col-xs flex-xs-middle flex-items-xs-center">
      <h3 class="text-xs-center">選擇動畫</h3>
    </div>
</div>

<div class="row" id="content">
  <div class="col-xs flex-xs-middle">
    <p>
      食的社企，動開在表話什、些的聽的一？沒裡極在有好國證。平學眼拉此石命，相為入師他氣；會失三來少了每是共做服？都太告的，氣的團實險事過大天先黑心，關物氣有影果深著著助讀認大於部一內一同和常意小學。能國戲！為童那了。他完選，正汽的學我來見；持辦神理遠座種才筆或毒才馬今聞給形感形間！最此保成世舞……準點國最比我把處各行學養的，子間做家人研上邊較數到氣花友子<span>同草</span>？
    </p>
  </div>
</div>

<div class="row" id="image-options">
  <div class="col-xs">
    <img [ngClass]="{selected: true}" src="http://i.giphy.com/l0MYyIGyRRnGvCRH2.gif" class="img-fluid">
  </div>
  <div class="col-xs">
    <img src="http://i.giphy.com/l2SqezUR1eq1ejm8g.gif" class="img-fluid">
  </div>
  <div class="col-xs">
    <img src="http://i.giphy.com/3o6gaXorgao8qA444o.gif" class="img-fluid">
  </div>
  <div class="col-xs">
    <img src="http://i.giphy.com/3o6Ztep6xVegCrNLfW.gif" class="img-fluid">
  </div>
  <div class="col-xs">
    <img src="http://i.giphy.com/l3E6uZT96X5g7ik0g.gif" class="img-fluid">
  </div>
</div>

<div class="row" id="controller">
  <div class="col-xs text-xs-center">
    <button (click)="previous()" class="btn btn-outline-primary btn-lg">上一組</button>
    <button *ngIf="!isComplete" (click)="next()" class="btn btn-outline-primary btn-lg">下一組</button>
    <button *ngIf="isComplete" (click)="submit()" class="btn btn-outline-primary btn-lg">完成</button>
  </div>
</div>
